html{
    box-sizing: border-box;
}
*{
    box-sizing:inherit;
}

body{
    font-family: 'Quicksand', sans-serif;
}

header{
  text-align: center;
  font-size: 25px;
  
}

input{
    width: 100%;
    height: 40px;
    margin: 10px 0 20px;
}

fieldset{
    border: none;
	padding: 0 40%;
}

textarea{
    margin: 0 40%;
    max-width: 290px;
    min-width: 290px;
    max-height: 100px;
    min-height: 100px;
    
}